.hokkaido {
  background-color: lightgreen;
  height: 100px;
  width: 100px;
}
.touhoku {
  background-color: lightgreen;
  height: 150px;
  width: 150px;
}
.tyubu {
  background-color: lightgreen;
  height: 150px;
  width: 150px;
}
.kanto {
  background-color: lightgreen;
  height: 150px;
  width: 150px;
}
.kinki {
  background-color: lightgreen;
  height: 150px;
  width: 150px;
}
.tyugoku {
  background-color: lightgreen;
  height: 100px;
  width: 100px;
}
.kyusyu {
  background-color: lightgreen;
  height: 150px;
  width: 150px;
}
.sikoku {
  background-color: lightgreen;
  height: 100px;
  width: 100px;
}